extends ../layout.pug

block append meta
  title #{__(title)} | #{proj_name}
  meta(name="description" content="Pagina contatti")
  meta(name="keywords" content="contatti, mail, tradingradar.net")

  link(rel="canonical", href=proj_url + url)

block main
  main 
    section
      h1 Contatti
      p Per ogni domanda o questione relativa al sito ed ai suoi contenuti:
      a(href="mailto:mailto:info@tradingradar.net") info@tradingradar.net
