#home main > section:nth-child(even) {
  background-color: var(--lighter-gray);
}

#intro {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#intro > div:first-child{
  padding-right: var(--xxx-large-space);
}

#intro .sources {
  display: flex;
  justify-content: space-between;
  margin-top: var(--large-space);
  flex-wrap: wrap;
}

#intro .sources .source {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-very-small);
  margin-right: var(--x-small-space);
  margin-bottom: var(--x-small-space);
}

@media screen and (max-width: 1024px) {
  #rapidapi {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  #mainsources {
    display: none;
  }
}