section(id="hp-alerts")
  h2 I segnali di oggi
  div
    div(class="alert gcup")
      h4 Golden Cross
      div Segnale #[em(class="green") RIALZISTA]
      p Il prezzo medio a 20gg #[em sale] sopra quello medio a 40gg
      div(class="hide")
        h5 Nessun risultato
      div(class="hide")
        a(href="#", title="Vai alla analisi del titolo")
          img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Titolo con segnale Golden Cross Up")
          h5
        ul 
          li Media 20gg (€): 
            span(id="mm20days", class="em") 
          li Media 40gg (€): 
            span(id="mm40days", class="em") 
          li Delta (diff. €/%): 
            span(id="delta", class="em green")
          li Rilevazione: 
            span(id="date", class="em")
    div(class="alert gcdown")
      h4 Death Cross
      div Segnale #[em(class="red") RIBASSISTA]
      p Il prezzo medio a 20gg #[em scende] sotto quello medio a 40gg
      div(class="hide")
        h5 Nessun risultato
      div(class="hide")
        a(href="#", title="Vai alla analisi del titolo")
          img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Titolo con segnale Golden Cross Down")
          h5
        ul 
          li Media 20gg (€): 
            span(id="mm20days", class="em") 
          li Media 40gg (€): 
            span(id="mm40days", class="em") 
          li Delta (diff. €/%): 
            span(id="delta", class="em red")
          li Rilevazione: 
            span(id="date", class="em")
    div(class="alert tiup")
      h4 Inversione rialzista
      div Segnale #[em(class="green") RIALZISTA]
      p Il #[em trend ribassista] è stato messo in discussione da un rinnovato #[em recente movimento rialzista]
      div(class="hide")
        h5 Nessun risultato
      div(class="hide")
        a(href="#", title="Vai alla analisi del titolo")
          img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Titolo con segnale di inversione rialzista del trend")
          h5
        ul 
          li Media 40gg (€): 
            span(id="mm40days", class="em") 
          li Media 100gg (€): 
            span(id="mm100days", class="em") 
          li Ultimo prezzo (€): 
            span(id="lastprice", class="em green") 
          li Rilevazione: 
            span(id="date", class="em")
    div(class="alert tidown")
      h4 Inversione ribassista
      div Segnale #[em(class="red") RIBASSISTA]
      p Il #[em trend rialzista] è stato messo in discussione da un rinnovato #[em recente movimento ribassista]
      div(class="hide")
        h5 Nessun risultato
      div(class="hide")
        a(href="#", title="Vai alla analisi del titolo")
          img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Titolo con segnale di inversione ribassista del trend")
          h5
        ul 
          li Media 40gg (€): 
            span(id="mm40days", class="em") 
          li Media 100gg (€): 
            span(id="mm100days", class="em") 
          li Ultimo prezzo (€): 
            span(id="lastprice", class="em red") 
          li Rilevazione: 
            span(id="date", class="em")