
section(id="aggregator")
  h2 Il sentiment attuale del mercato
  p L'attuale situazione del Mercato in base ai valori aggregati delle analisi dei principali Media online.#[br] I dati di analisi tecnica estrapolati sono condensati e riassunti nei tre indicatori proposti qui sotto.
  div
    div(class="aggregator performance loading")
      h3 Performance
      img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Performance attuale del FTSE Mib", title="Performance attuale del FTSE Mib")
      div Media attuale (%):
        span
      p La #[em performance media] attuale del FTSE Mib in base al valore aggregato degli ultimi 30 giorni.
    div(class="aggregator volatility loading")
      h3 Volatilità
      img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Volatilità attuale del FTSE Mib", title="Volatilità attuale del FTSE Mib")
      div Media attuale (%):
        span
      p La #[em volatilità media] attuale del FTSE Mib in base al valore aggregato degli ultimi 30 giorni.
    div(class="aggregator tendency loading")
      h3 Tendenza
      img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Tendenza attuale del FTSE Mib", title="Tendenza attuale del FTSE Mib")
      div Ratio:
        span
      p La #[em tendenza attuale] del FTSE Mib in base al giudizio di breve periodo fornito dal Sole 24 Ore.