#aggregator > div {
  display: flex;
  justify-content: space-between;
}

#aggregator h3 {
  text-align: center;
}

#aggregator img {
  max-width: 10rem;
}

#aggregator .aggregator {
  text-align: center;
  margin: 0 var(--normal-space);
}

#aggregator p {
  margin-top: 1rem;
}

#aggregator span {
  font-weight: 500;
  margin-left: 0.5rem;
}

#aggregator .volatility img {
  transform: scaleX(-1);
}


@media screen and (max-width: 768px) {
  #aggregator > div {
    flex-direction: column;
  }
}