
section(id="aggregator")
  h2 Il sentiment attuale sul mercato
  div
    div(class="aggregator performance")
      h3 Performance
      img(src="/assets/images/loading-min.png", alt="Performance attuale del FTSE Mib")
      div Media attuale:
        span
      p La performance attuale del FTSE Mib in base al valore aggregato degli ultimi 30 giorni
    div(class="aggregator volatility")
      h3 Volatilità
      img(src="/assets/images/loading-min.png", alt="Volatilità attuale del FTSE Mib")
      div Valore attuale [0/5]:
        span
      p La volatilità attuale del FTSE Mib in base al valore aggregato degli ultimi 30 giorni
    div(class="aggregator tendency")
      h3 Tendenza
      img(src="/assets/images/loading-min.png", alt="Tendenza attuale del FTSE Mib")
      div Valore attuale [0/5]:
        span
      p La tendenza attuale del FTSE Mib in base al valore aggregato degli ultimi 30 giorni