
section(id="aggregator")
  h2 Il sentiment attuale sul mercato
  p L'attuale situazione del mercato in base ai valori aggregati delle analisi dei principali media online.
  div
    div(class="aggregator performance loading")
      h3 Performance
      img(src="#", alt="Performance attuale del FTSE Mib")
      div Media attuale (%):
        span
      p La performance attuale del FTSE Mib in base al valore aggregato degli ultimi 30 giorni
    div(class="aggregator volatility loading")
      h3 Volatilità
      img(src="#", alt="Volatilità attuale del FTSE Mib")
      div Media attuale (%):
        span
      p La volatilità attuale del FTSE Mib in base al valore aggregato degli ultimi 30 giorni
    div(class="aggregator tendency loading")
      h3 Tendenza
      img(src="#", alt="Tendenza attuale del FTSE Mib")
      div Ratio:
        span
      p La tendenza attuale del FTSE Mib in base al giudizio di breve periodo fornito dal Sole 24 Ore