
section(id="in-trend-stocks")
  h2 Titoli in trend
  div 
    table(id="uptrend") 
      caption Titoli rialzisti 
      thead
        tr
          th Nome
          th Ultimo prezzo
          th Media 20gg
          th Media 40gg
          th Media 100gg
      tbody
    table(id="downtrend") 
      caption Titoli ribassisti 
      thead
        tr
          th Nome
          th Ultimo prezzo
          th Media 20gg
          th Media 40gg
          th Media 100gg
      tbody
  
