#filters .list {
  display: flex;
  justify-content: space-around;
}

#filters .list h4 {
  text-align: center;
}

#filters .list ul {
  height: var(--scrollable-section);
  overflow-y: scroll;
  margin: var(--xx-small-space) 0 var(--large-space);
}

#filters .list ul li {
  padding: var(--x-small-space);
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin: 0;
}

#filters .list ul li:nth-child(1) {
  font-size: var(--font-size-very-small);
}

#filters .list ul li *:nth-child(1) {
  width: 60%;
}
#filters .list ul li *:nth-child(2) {
  width: 20%;
}
#filters .list ul li *:nth-child(3) {
  width: 20%;
}

#filters .list ul li:nth-child(odd) {
  background-color: var(--light-gray);
}


@media screen and (max-width: 1024px) {
  #filters .list ul li *:nth-child(1) {
    width: 50%;
  }
  #filters .list ul li *:nth-child(2) {
    width: 25%;
  }
  #filters .list ul li *:nth-child(3) {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  #filters .list {
    flex-direction: column;
  }
  #filters .list div {
    margin-top: var(--x-large-space);
  }
}