
section(id="filters")
  h2 I titoli di maggiore interesse in base alla loro situazione tecnica
  p Titoli azionari del FTSE Mib filtrati in base alla loro #[em analisi tecnica] e #[em giudizio complessivo].#[br] Si tratta dei titoli che in base ai giudizi degli esperti del settore o in base ai risultati forniti dalla loro analisi tecnica possono fornire interessanti #[em spunti di investimento] al momento attuale.
  h3 Rating e raccomandazione delle Banche di affari
  div(class="desc") 
      p I titoli con la #[em valutazione maggiore] secondo Milano Finanza e Borsa Italiana e i titoli con #[em giudizio BUY] e #[em tendenza al rialzo].
  div(id="ranking")
    div(class="list")
      div(class="ranking")
        h4 Ranking
        ul
          li
            span Titolo
            span Rating Borsa Italiana
            span Ranking Milano Finanza
      div(class="judgment")
        h4 Giudizio
        ul
          li
            span Titolo
            span Giudizio
            span Tendenza medio periodo
  h3 Titoli in ipercomprato o ipervenduto
  div(class="desc") 
      p I titoli in situazione di #[em ipercomprato] e #[em ipervenduto]. I dati sono presi dai valori di RSI presi da Borsa Italiana e Milano Finanza.
  div(id="iper")
    div(class="list")
      div(class="overbought")
        h4 Ipercomprati
        ul
          li
            span Titolo
            span RSI Borsa Italiana
            span RSI Milano Finanza
      div(class="oversold")
        h4 Ipervenduti
        ul
          li
            span Titolo
            span RSI Borsa Italiana
            span RSI Milano Finanza