#api_list .list {
  display: flex;
  justify-content: space-around;
}
#api_list .list h4 {
  text-align: center;
}

#api_list .list ul {
  height: var(--scrollable-section);
  overflow-y: scroll;
  margin: var(--xx-small-space) 0 var(--large-space);
}

#api_list .list ul li{
  padding: var(--x-small-space);
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin: 0;
}

#api_list .list ul li:nth-child(odd) {
  background-color: var(--light-gray);
}

#api_list div { 
  margin-top: var(--normal-space)
}

#api_list .source {
  font-style: italic;
}

#api_list > ul {
  font-style: italic;
}


@media screen and (max-width: 768px) {
  #api_list .list {
    flex-direction: column;
  }
  #api_list .list div {
    margin-top: var(--x-large-space);
  }
}