- 
  let api = [
    {
      name: 'Borsa Italiana',
      id: 'borsa-italiana-logo',
      href: 'https://www.borsaitaliana.it/homepage/homepage.htm'
    },
    {
      name: 'Il Sole 24 Ore',
      id: 'il-sole-24-ore-logo',
      href: 'https://www.ilsole24ore.com/'
    },
    {
      name: 'Milano Finanza',
      id: 'milano-finanza-logo',
      href: 'https://www.milanofinanza.it/'
    },
    {
      name: 'SoldiOnLine',
      id: 'soldi-on-line-logo',
      href: 'https://www.soldionline.it/'
    },
    {
      name: 'Teleborsa',
      id: 'teleborsa-logo',
      href: 'https://www.teleborsa.it/'
    },
    {
      name: 'Repubblica Affari e Finanza',
      id: 'repubblica-aff-e-fin-logo',
      href: 'https://www.repubblica.it/economia/affari-e-finanza/'
    }
  ]
section(id="api_list")
  h2 Classifiche dei titoli del FTSE Mib secondo i principali indicatori di Analisi Tecnica
  p I dati seguenti sono disponibili tramite le #[a(href="https://rapidapi.com/marcopavanmp-R024fyPhqP6/api/tradingradar", title="API di tradingradar.net") API di tradingradar.net] con le seguenti funzionalità.
      ul 
        li Dati aggiornati quotidianamente 
        li Dati ordinabili per valore ascendente o discendente 
        li Filtraggio dei dati 
        li Paginazione dei dati
  p Gli sviluppatori interessati possono accedere alle API tramite il servizio fornito da #[a(href="https://rapidapi.com", title="RapidAPI") RapidAPI].
  h3 Performance a 1 mese / 6 mesi / 1 anno dei titoli del FTSE Mib
  div(class="desc") 
    p Performance a 1 mese / 6 mesi / 1 anno dei titoli del FTSE Mib...
    p(class="source") Fonte: Borsa Italiana
  div(id="performance")
    div(class="list")
      div(class="perf1M")
        h4 Performance 1 mese
        ul
      div(class="perf6M")
        h4 Performance 6 mesi
        ul
      div(class="perf1Y")
        h4 Performance 1 anno
        ul
  h3 Volatilità, Relative Strenght Index (RSI) e Tendenza a breve termine
  div(class="desc") 
    p I titoli del FTSE Mib ordinati per volatilità...
    p(class="source") Fonte: Borsa Italiana, Milano Finanza e Il Sole 24 Ore
  div(id="volatility")
    div(class="list")
      div(class="volatility")
        h4 Volatilità
        ul
      div(class="mfRsi")
        h4 Relative Strenght Index (RSI)
        ul
      div(class="shortTendency")
        h4 Tendenza a breve termine
        ul
  h3 Dividendi e Raccomandazioni delle banche di affari
  div(class="desc")
    p I titoli del FTSE Mib ordinati per valore del dividendo e raccomandazione data dalle principali banche di affari...
    p(class="source") Fonte: Milano Finanza e SoldiOnLine
  div(id="dividend")
    div(class="list")
      div(class="divYield")
        h4 Dividendo
        ul
      div(class="lastJudgment")
        h4 Raccomandazione
        ul     

