#socials a {
  margin-left: var(--small-space);
  font-size: var(--font-size-big);
}
#socials a:hover {
  filter: brightness(90%);
}

@media screen and (max-width: 768px) {
  #socials a {
    margin-left: var(--large-space);
  }
}