header
  aside(id="supportme")
    p #[em tradingradar.net] ha bisogno di un sostegno per poter continuare la sua attività. Se le informazioni che trovi qui ti hanno aiutato a risparmiare tempo o a fare un buon investimento, #[em valuta di sostenere il progetto] con una quota a tua scelta.
    p Per il mese di #[em Giugno 2023], le donazioni coprono lo 0% dell'obiettivo.
    progress(value="0", max="100")
    form(action="https://www.paypal.com/donate", method="post", target="_top")
        input(type="hidden", name="hosted_button_id", value="LFRZ776BAZ2TL")
        input(type="image", src="/assets/images/donate.jpg", name="submit", title="PayPal - The safer, easier way to pay online!", alt="Donate with PayPal button")
  section
    div
    include ./social-icons/social-icons.pug
  section 
    include ./main-logo/main-logo.pug
    include ./main-menu/main-menu.pug
  include ./breadcrumbs/breadcrumbs.pug
  