body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:0 0 1px transparent;
  text-rendering: optimizeLegibility;
  letter-spacing: .03rem;
  color: var(--primary);
  background-color: var(--white);
}

a {
  color: var(--blue);
  text-decoration: none;
}

em {
  font-weight: 500;
}

p {
  margin-bottom: var(--x-small-space);
}

/*main {
  padding: 0 var(--view-padding);
}*/

main section {
  margin-top: var(--section-margin)
}

.hide {
  display: none!important;
}